
body {
  color: black;
  background: #e0ffdb;
}

$indent: 1cm;

p {
  margin-left: $indent;
  margin-right: $indent;
}

ul {
  margin-left: $indent;
}

blockquote
  { font-style: italic; }

/* The idea here is to highlight geographical locations in the directions
   section for each waterfall. That way a person who has printed a page
   might be able to follow it while driving. */

%place-name {
  font-weight: bold;
}

span.road-name
  { @extend %place-name; }

span.stream-name
  { @extend %place-name; }

span.town-name
  { @extend %place-name; }

span.trail-name
  { @extend %place-name; }

span.waterfall-name
  { @extend %place-name; }

span.other-name
  { @extend %place-name; }

/* I'm not sure how to best handle the notes section. */
span.notes-entry-header { font-weight: bold; }
